Main-Assets/
My-resume/
Assets/
Assignment_8-AmazonClone/amazon_logo.png
Assignment_8-AmazonClone/box1_image.jpg
Assignment_8-AmazonClone/box2_image.jpg
Assignment_8-AmazonClone/box3_image.jpg
Assignment_8-AmazonClone/box4_image.jpg
Assignment_8-AmazonClone/box5_image.jpg
Assignment_8-AmazonClone/box6_image.jpg
Assignment_8-AmazonClone/box7_image.jpg
Assignment_8-AmazonClone/box8_image.jpg
Assignment_8-AmazonClone/hero_image.jpg


Assignment_9-AppleClone/Hero_img_3.png
Assignment_9-AppleClone/hero_ipadpro__bp2.jpg
Assignment_9-AppleClone/promo_mac_does (1).jpg
Assignment_9-AppleClone/promo_mac_does (2).jpg
Assignment_9-AppleClone/promo_mac_does (3).jpg
Assignment_9-AppleClone/promo_mac_does (4).jpg
Assignment_9-AppleClone/promo_mac_does (5).jpg
Assignment_9-AppleClone/promo_mac_does (6).jpg
Assignment_9-AppleClone/hero_iphone_family1.png


Assignment_10-FacebookClone/Mypicture.jpeg
Assignment_10-FacebookClone/pic1.png
Assignment_10-FacebookClone/pic2.png
Assignment_10-FacebookClone/pic3.png
Assignment_10-FacebookClone/pic4.png
Assignment_10-FacebookClone/pic5.png
Assignment_10-FacebookClone/pic6.png
Assignment_10-FacebookClone/pic7.png
Assignment_10-FacebookClone/pic8.png
Assignment_10-FacebookClone/pic9.png
Assignment_10-FacebookClone/pic10.png