#Main-Title{
    color: #7F1C24;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 36%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title-description{
    color: #7F1C24;
    font-weight: bolder;
    font-size: 12px;
    margin-left: 27.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}